<!DOCTYPE html>
<html>
  <body>  
    <%= render partial: "layouts/sidebar", locals: { active: 'reg_helper' } %>
    
    <div class="content">
      <span><%= link_to "Go back", reghelper_path, class: "sidebar-link back-button"%></span>
      <input class="text-input" id="search-bar" type="text" placeholder="<%= @university_college.name %>">
    </div>
    
    <div class="content center-content">
      <% @departments.each do |department| %>
      <a href="<%= department_reghelper_path(department) %>">
        <button class="reg-button"><%= department.name %></button>
      </a>
      <% end %>
      
    </div>

  </body>
</html>

