<!DOCTYPE html>
<html>
  <body>
    <div class="sidebar">
      <div class="mini-profile">
        <%= image_tag "default.png", class: "profile-pic" %>
        <h1 id="name"><%= session[:data]["email"]%></h1>
        <!-- <h1>José Protacio Rizal Mercado y Alonso Realonda</h1> -->
      </div>

      <hr class="sidebar-divider"/>

      <div class="links">
        <span><%= link_to "Dashboard", home_path, class: "sidebar-link"%></span>
        <span><a href="" class="sidebar-link">My Favorites</a></span>
        <span><%= link_to "Registration Helper", reghelper_path, class: "sidebar-link active"%></span>
        <span><%= link_to "Website Masterlist", masterlist_path, class: "sidebar-link"%></span>
        <span><a href="" class="sidebar-link">User Preferences</a></span>
        <span><%= link_to "Edit Profile [DEPT]", dept_profile_path, class: "sidebar-link"%></span>
        
        <span><%= button_to "Logout", logout_path, class: "sidebar-link"%></span>
        <span><%= link_to "Go back", deptcs_path, class: "sidebar-link back-button"%></span>
      </div>
      
    </div>
    <div class="content">
      <input class="text-input" id="search-bar" type="text" placeholder="CS 11">
    </div>

    <div class="course-wrapper course-details-wrapper">
      <div class="course-details-container">
        <div class="course-heading">Information:</div>
        <b>Course Title:</b> Computer Programming I <br/>
        <b>Description:</b> Basic Programming, Programming Constructs, Programming Logic <br/>
        <b>Prerequisites:</b> None <br/>
        <b>Classifications and Units:</b> Major Course, 3.0 Units (2hr lec, 3hr lab) <br/>

        <div class="course-heading">Offering Department:</div>
        <div>Department of Computer Science</div>

        <div class="course-heading">Prerog Policy:</div>
        <div>Strictly departmental prerog only. Please fill up this google form to prerog</div>

        <div class="course-heading">Waitlisting Schedule:</div>
        <b>Opens:</b> Feb 1 8:00 AM  <br/>
        <b>Closes:</b> Feb 1 5:00 PM <br/>

        <div class="course-heading">Available Slots for All Sections:</div>
        <div>-5 out of 115 slots</div>

        <a href="/appeal_success"><button class="login-button appeal-button">Request for Appeal</button></a>
      </div>

      <div class="fb-post">
          <iframe   iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fupddcs%2Fposts%2F847309173862672&show_text=true&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
  </body>
</html>

