<!DOCTYPE html>
<html>
  <body>
    <div class="sidebar">
      <div class="mini-profile">
        <%= image_tag "default.png", class: "profile-pic" %>
        <h1 id="name"><%= session[:data]["email"]%></h1>
        <!-- <h1>José Protacio Rizal Mercado y Alonso Realonda</h1> -->
      </div>

      <hr class="sidebar-divider"/>

      <div class="links">
        <span><%= link_to "Dashboard", home_path, class: "sidebar-link"%></span>
        <span><a href="" class="sidebar-link">My Favorites</a></span>
        <span><%= link_to "Registration Helper", reghelper_path, class: "sidebar-link"%></span>
        <span><%= link_to "Website Masterlist", masterlist_path, class: "sidebar-link"%></span>
        <span><a href="" class="sidebar-link">User Preferences</a></span>
        <span><%= link_to "Edit Profile [HTML]", dept_profile_path, class: "sidebar-link"%></span>
        <span><%= link_to "Edit Profile [DEPT]", '/dept_profile_edit', class: "sidebar-link"%></span>
        <span><%= button_to "Logout", logout_path, class: "sidebar-link"%></span>
      </div>
    </div>
    <div class="content left-content">

      <h3 class="title title-profile">Information</h3>
      <form class="dept-input">
        <label for="course-title" style="margin-right: 5pt;"><b>Course Title:</b></label>
        <input type="text" id="course-title" name="course-title" class="text-input text-input-long" placeholder="Input course title here..."> <br/>
        <label for="course-desc"><b>Course Description:</b></label><br/>
        <textarea id="course-desc" name="course-desc" rows="3" cols="50" placeholder="Input course description here..." style="width:50%;"></textarea>
      </form>

      <h3 class="title title-profile">Prerogative Policy</h3>
      <!-- Need to convert these into ROR forms -->
      <form class="rich-text-input">
        <input id="editor-prerog" type="hidden" name="prerog">
        <trix-editor input="editor-prerog" placeholder="Input prerogative policies here..."></trix-editor> 
      </form>

      <h3 class="title title-profile">Waitlisting Schedule</h3>
      <!-- Need to convert these into ROR forms -->
      <form class="rich-text-input">
        <input id="editor-waitlist" type="hidden" name="waitlist">
        <trix-editor input="editor-waitlist" placeholder="Input waitlisting schedule here..."></trix-editor> 
      </form>

      <h3 class="title title-profile">Cancellation Procedure</h3>
      <!-- Need to convert these into ROR forms -->
      <form class="rich-text-input">
        <input id="editor-cancel" type="hidden" name="cancel">
        <trix-editor input="editor-cancel" placeholder="Input cancellation policies here..."></trix-editor> 
      </form>

      <h3 class="title title-profile">Other Information</h3>
      <!-- Need to convert these into ROR forms -->
      <form class="rich-text-input">
        <input id="editor-other" type="hidden" name="other">
        <trix-editor input="editor-other" placeholder="Input other notes/policies here..."></trix-editor> 
      </form>
    </div>

    <script>
      addEventListener("trix-file-accept", function(event) {
        event.preventDefault();
      });
    </script>
  </body>
</html>

