<!DOCTYPE html>
<html>
  <body>
    <div class="sidebar">
      <div class="mini-profile">
        <%= image_tag "default.png", class: "profile-pic" %>
        <h1 id="name"><%= session[:data]["email"]%></h1>
        <!-- <h1>José Protacio Rizal Mercado y Alonso Realonda</h1> -->
      </div>

      <hr class="sidebar-divider"/>

      <div class="links">
        <span><%= link_to "Dashboard", home_path, class: "sidebar-link"%></span>
        <span><a href="" class="sidebar-link">My Favorites</a></span>
        <span><%= link_to "Registration Helper", reghelper_path, class: "sidebar-link active"%></span>
        <span><%= link_to "Website Masterlist", masterlist_path, class: "sidebar-link"%></span>
        <span><a href="" class="sidebar-link">User Preferences</a></span>
        <span><%= link_to "Edit Profile [HTML]", dept_profile_path, class: "sidebar-link"%></span>
        <span><%= link_to "Edit Profile [DEPT]", '/dept_profile_edit', class: "sidebar-link"%></span>
        <span><%= button_to "Logout", logout_path, class: "sidebar-link"%></span>
      </div>

        <%= link_to image_tag("back_button.png", class: "back-button"), reghelper_path %>

    </div>
    
    <div class="content">
        <input class="text-input" id="search-bar" type="text" placeholder="Department of Computer Science">
    </div>

    <div class="class_container">
        <div>
            
            <a href="/CS11"><button class="class_button">
                <div>CS11 - 4.0 UNITS</div>
                <div class="subtext">Computer Programming I</div>
            </button></a>

            <a href="/CS12"><button class="class_button">
                <div>CS12 - 4.0 UNITS</div>
                <div class="subtext">Computer Programming II</div>
            </button></a>

        </div>

        <div class="fb-post">
            <iframe   iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fupddcs%2Fposts%2F847309173862672&show_text=true&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>

    

  </body>
</html>

