<!DOCTYPE html>
<html>
  <body>
    <div class="sidebar">
      <div class="mini-profile">
        <%= image_tag "default.png", class: "profile-pic" %>
        <h1 id="name"><%= session[:data]["email"]%></h1>
        <!-- <h1>José Protacio Rizal Mercado y Alonso Realonda</h1> -->
      </div>

      <hr class="sidebar-divider"/>

      <div class="links">
        <span><%= link_to "Dashboard", home_path, class: "sidebar-link"%></span>
        <span><a href="" class="sidebar-link">My Favorites</a></span>
        <span><%= link_to "Registration Helper", reghelper_path, class: "sidebar-link active"%></span>
        <span><%= link_to "Website Masterlist", masterlist_path, class: "sidebar-link"%></span>
        <span><a href="" class="sidebar-link">User Preferences</a></span>
        <span><%= link_to "Edit Profile [HTML]", dept_profile_path, class: "sidebar-link"%></span>
        <span><%= link_to "Edit Profile [DEPT]", dept_profile_path, class: "sidebar-link"%></span>
        <span><%= button_to "Logout", logout_path, class: "sidebar-link"%></span>
        <span><%= link_to "Go back", reghelper_path, class: "sidebar-link back-button"%></span>
      </div>

    </div>
    
    <div class="content center-content">
      <input class="text-input" id="search-bar" type="text" placeholder="Department of Art Studies">

      <div class="course-wrapper">
        <div class="course-container">
          <a href="/AS50"><button class="reg-button course-button">
                <div>AS50 - 3.0 UNITS</div>
                <div class="subtext">The Field of Art Studies</div>
            </button></a>
        </div>
        <div class="fb-post">
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fartstudies.upd%2Fposts%2F866020218648407&show_text=true&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
      </div>
    </div>
  </body>
</html>

