<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
        <div class="page-wrapper">
            <div class="center-wrapper">
                <h2 class="title">Log in as Department</h2>
                <%= form_with url: logindept_path, local: true, method: :post do |f|%>
                    <div class="form">
                        <%= f.text_field :email, placeholder: "Email", class: "username text-input", onkeydown: "moveFocus(event, '.password')" %>
                        <%= f.password_field :password, type: "password", placeholder: "Password", class: "password text-input", onkeydown: "submitForm(event, '#loginForm')" %>
                        <div class="button-wrapper-2 center-content">
                            <%= f.submit "Log in", class: "login-button" %>
                        </div>
                    </div>
                <% end %>
                
                <div class="button-wrapper-2">
                    <%= link_to "Back to landing page", root_path, class: "signup"%>
                </div>
                <p id="warning"></p>
            </div>
        </div>
        
        <!--Send warning message for invalid credentials-->
        <% if flash[:notice].present? %>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("warning").innerHTML = "<%= j flash[:notice] %>"
            });
        </script>
        <% end %>
        
        <script>  
            function moveFocus(event, selector) {
                if (event.key === 'Enter' && event.target.value !== '') {
                event.preventDefault(); // Prevents form submission
                document.querySelector(selector).focus();
                }
            }

            function submitForm(event, selector) {
                if (event.key === 'Enter' && event.target.value !== '') {
                document.querySelector(selector).submit();
                }
            }
        </script>

    </body>
</html>
