<!DOCTYPE html>
<html>
  <body>
    <div class="page-wrapper">
      <div class="center-wrapper">
        <h1 class="title">IskoInfo</h1>

        <p class="about">
          IskoInfo is a comprehensive online platform that aims
          to streamline information from all University of the
          Philippines Diliman units. It features a collation of
          all social media posts, a UPD website masterlist and
          registration information dissemination.
        </p>

        <!-- Update links to "/logindept", etc.-->
        <div class="button-wrapper-1">
          <%= link_to "Log in as Student", loginstudent_path, class: "login-button"%>
          <%= link_to "Log in as Department", logindept_path, class: "login-button"%>
        </div>

        <div class="button-wrapper-2">
          <%= link_to "No account yet? Sign up here", signup_path, class: "signup"%>
        </div>
        <p id="warning"></p>
      </div>

    </div>
    <%= image_tag "oblation.png", class: "oblation" %>

    <!--Send message for logging out-->
    <% if flash[:notice].present? && flash[:notice].include?("logged out") %>
      <script>
          document.addEventListener("DOMContentLoaded", function() {
              document.getElementById("warning").innerHTML = "<%= j flash[:notice] %>"
          });
      </script>
    <% end %>
  </body>
</html>