
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="center-wrapper">
        <h2 class="title">Sign up as Student</h2>
        <%= form_with url: signup_path, local: true, method: :post do |f|%>
            <div class="form">
              <%= f.text_field :username, type: "text", placeholder: "Name", class: "fullname text-input", onkeydown: "moveFocus(event, '#email')", id: "username"  %>
              <%= f.email_field :email, type: "email", placeholder: "Email", class: "email text-input", onkeydown: "moveFocus(event, '#password')", id: "email" %>
              <%= f.password_field :password, type: "password", placeholder: "Password", class: "password text-input", onkeydown: "moveFocus(event, '#retype-password')", id: "password" %>
              <%= f.password_field :password_confirmation, type: "password", placeholder: "Re-type Password", class: "retype-password text-input", onkeydown: "submitForm(event, '#signupForm')", id: "retype-password" %>  
              <div class="button-wrapper-2 center-content">
                <%= f.submit "Sign up", class: "login-button", id: "submit"%>
              </div>
            </div>
        <% end %>
        <p id="warning"></p>
        <a href="/" class="signup">Back to Home</a>
    </div>

    <!--Send warning message for invalid credentials-->
        <% if flash[:notice].present? %>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("warning").innerHTML = "<%= j flash[:notice] %>"
            });
        </script>
        <% end %>
        
        <script>  
            function moveFocus(event, selector) {
                if (event.key === 'Enter' && event.target.value !== '') {
                event.preventDefault(); // Prevents form submission
                document.querySelector(selector).focus();
                }
            }

            function submitForm(event, selector) {
                if (event.key === 'Enter' && event.target.value !== '') {
                document.querySelector(selector).submit();
                }
            }
        </script>
  </body>
</html>
  
  
