<!DOCTYPE html>
<html>
  <body>
    <%= render partial: "layouts/sidebar", locals: { active: 'profile_dept' } %>
    <div class="content left-content">

        <h3 class="title title-profile">Information</h3>
        <%=  form_with model: @course_policy do |form| %>
          <% if form.object.errors.any? %>
            <div>
              <% form.object.errors.full_messages.each do |message|%>
              <%= message %>
                <% end %>
            </div>
            <% end %>

            <label for="course-title" style="margin-right: 5pt;"><b>Course Title:</b></label>
            <%= form.text_field :course_title%> <br/>
            <label for="course-desc"><b>Course Description:</b></label><br/>
            <%= form.text_field :course_description%>
        
        <h3 class="title title-profile">Prerogative Policy</h3>
        <!-- Need to convert these into ROR forms -->
        <%# <%= form.label :prerogative_policy %>
        <%= form.rich_text_area :prerogative_policy%>


        <h3 class="title title-profile">Waitlisting Schedule</h3>
        <%# <%= form.label :waitlisting_schedule%>
        <%= form.rich_text_area :waitlisting_schedule%>

        <h3 class="title title-profile">Cancellation Procedure</h3>
        <%# <%= form.label :cancellation_procedure%>
        <%= form.rich_text_area :cancellation_procedure%>

        <h3 class="title title-profile">Other Information</h3>
        <%# <%= form.label :other_information%>
        <%= form.rich_text_area :other_information%>

        <br/>
        <%= form.button class:"login-button"%>
        <% end %>
        <br/>
        <%= link_to "Discard changes", dept_profile_path, class: "signup" %>
    </div>

    <script>
      addEventListener("trix-file-accept", function(event) {
        event.preventDefault();
      });
    </script>
  </body>
</html>

