<div class="sidebar">
  <div class="mini-profile">
    <%= image_tag "default.png", class: "profile-pic" %>
    <h1 id="name"><%= session[:data]["email"]%></h1>
    <!-- <h1>José Protacio Rizal Mercado y Alonso Realonda</h1> -->
  </div>

  <hr class="sidebar-divider"/>

  <div class="links">
    <% if session[:code].present? %>
      <span><%= button_to "Dashboard", home_path, class: "sidebar-link sidebar-inactive", disabled: true %></span>
    <% else %>
      <span><%= link_to "Dashboard", home_path, class: "sidebar-link #{'active' if active == 'dashboard'}"%></span>
    <% end %>

    <%# <span><button href="" class="sidebar-link sidebar-inactive">My Favorites</button></span> %>
    <span><%= link_to "Registration Helper", reghelper_path, class: "sidebar-link #{'active' if active == 'reg_helper'}"%></span>
    <span><%= link_to "Website Masterlist", masterlist_path, class: "sidebar-link #{'active' if active == 'masterlist'}"%></span>

    <% if session[:code].present? %>
      <span><%= button_to "User Preferences", request.original_url, class: "sidebar-link sidebar-inactive", disabled: true %></span>
      <span><%= link_to "Edit Profile [DEPT]", Department.find_by(code: session[:code]), class: "sidebar-link #{'active' if active == 'profile_dept'}" %></span>
    <% else %>
      <span><%= link_to "User Preferences", userpreferences_path, class: "sidebar-link #{'active' if active == 'userpreferences'}" %></span>
      <span><%= button_to "Edit Profile [DEPT]", request.original_url, class: "sidebar-link sidebar-inactive", disabled: true %></span>
    <% end %>
    
    

    <span><%= button_to "Logout", logout_path, class: "sidebar-link"%></span>
  </div>
</div>